/* General Styles */
body {
    font-family: Helvetica, Arial, sans-serif; /* Sets the font for the body */
    margin: 0; /* Resets margin */
    padding: 0; /* Resets padding */
    background-color: #b5b5b5; /* Light grey background */
    color: #FF6600; /* Orange text color */
}

/* Header Styles */
h1, h2 {
    text-align: center; /* Center aligns the headings */
    margin: 20px 0; /* Space above and below the headings */
}
