/* General Styles */
body {
    font-family: Helvetica, Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    background-color: rgb(199, 199, 199); 
    color: #FF6600; 
}

/* Header Styles */
h1, h2 {
    text-align: center; 
    margin: 20px 0; 
}
